
        <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
        <link rel="stylesheet" href="/stylesheets/all.min.css">


<footer id="myFooter">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4">
                        <h3 class="navbar-brand" style="display:none"><a href="#"><img src="images\logo.jpg" alt="CourseWalk Logo"></a></h3>
                    </div>
                    <div class="col-sm-2">
                        <h5>Get started</h5>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#"></a>About us</li>
                            <li><a href="#">Courses</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2">
                        <h5>Support</h5>
                        <ul>
                            <li><a href="#">Guidelines</a></li>
                            <li><a href="#">Help desk</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <div class="social-networks">
                            <a href="#" class="twitter" ><i class="fab fa-twitter"></i></a>
                            <a href="#" class="facebook"><i class="fab fa-facebook"></i></a>
                            <a href="#" class="linkedin"><i class="fab fa-linkedin"></i></a>
                        </div>
                        <a class="btn btn-default" href="contact.html">Contact us</a>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <p>© 2019 CourseWalk.Org | All Rights Reserved </p>
            </div>
        </footer>

        <!---->

        <script src="" async defer></script>
    </body>
</html>