<% include ./partials/header.ejs %>

<div class="about container">
 <div class="row">
        <div class="col-md-4 col-lg-3 col-xl-3 mb-5 pb-5 " style =" margin-bottom: 5em;">
                <img class="img-fluid"  style="background-size: cover; width: 100%" src="/images/elephant-welcome2.jpg" alt="library image">
    
            </div>
        <div class="col-md-6 col-lg-8 col-xl-8 mb-5 pb-5 " style ="margin-left: 2em; margin-bottom: 5em;">
                <h1 style="color:rgb(42, 98, 145)"> ABOUT US : </h1>
                <p style ="    font-family: 'Roboto Condensed', sans-serif;text-align:justify">Students find it challenging to identify the appropriate courses that fit their career interests and help them to achieve their goals. Each individual student has certain priorities with respect to course selection. Some may need the most relevant course to their choice of stream, some may want to explore courses from other departments and few would want to prefer courses based on the level of difficulty. Hence, a comprehensive website providing reviews about the courses from trusted sources will go a long way in helping the students to understand the nature of the courses beforehand.
                </p>
                <br>
                <h1 style="color:rgb(42, 98, 145)"> OUR MISSION : </h1>
                <p style ="    font-family: 'Roboto Condensed', sans-serif;text-align:justify">CourseWalk lets the students pick the right courses based on their interests and helps in finding the right textbooks for their courses. CourseWalk walks you through the repository of available courses and its related information offered by the Texas A&M University. It’s easy- to-navigate web interface lets the students search for their required courses with ease. Elephant is our mascot as it symbolizes knowledge and grasp. Also, ‘Elephant Walk’ symbolizes Aggie Senior-Junior tradition. It guides the students as they navigate through the website motivating them at each level.  We believe that transparency is the key to knowledge and students should have the right to know complete information before they pick any course. We do that by providing not only the information provided by the University but also the experiences from past students. Let’s add meaning to your aggie ring by picking right courses and CourseWalk is here to get you there.
                </p>
        </div>
      
        

 </div>
    



</div>


<% include ./partials/footer.ejs %>