<% include ../partials/header.ejs %>
<style>
        body{
            margin-left:15px;
        }
    </style>
<div class="row mb-5 pb-5" style="margin:50px 0">
        <div class="col-md-2">
        </div>
        <div class="col-md-8 form-container pb-3">
                <div class="container-fluid" >
        
    
                <h1 style="text-align:center">Edit a professor</h1>
                <hr>
                <div class="text-center" ><p><sup style="color:red;">*</sup> indicates required fields</p></div>
                <div style="width:50%; margin:25px auto;">
                       <form  action="/professors/<%=professor._id%>?_method=PUT" method="POST">
                        <div class="form-group required">
                            <label for="nameInput" class="control-label">Name</label>
                            <input class="form-control" type="text" id="nameInput" placeholder="name"  value="<%= professor.name%>" name="professor[name]">
                        </div>
                        
                        <div class="form-group required">
                            <label for="titleInput" class="control-label">Title</label>
                            <input class="form-control" type="text" id="titleInput" placeholder="title"  value="<%= professor.title%>" name="professor[title]">
                        </div>
                        
                        <button class="btn btn-lg btn-primary btn-block">Submit</button>
                        
                    </form>
                    <br>
                        <div class="text-right">
                             <a href="/professors/<%=professor._id%>">Go Back</a>
                            </div>
                        </div>
                </div>
        </div>
        <div class="col-md-2">
            </div>
    </div>
<% include ../partials/footer.ejs %>